<div class='col-md-8 offset-md-2'>
  <% if @model == 'user' %>
    <h3>Users search for "<%= @content %>"</h3>
    <%= render 'users/index', users: @records %>
  <% elsif @model == 'book' %>
    <h3>Books search for "<%= @content %>"</h3>
    <%= render 'books/index', books: @records %>
  <% elsif @model == 'tag' %>
    <h3>Books search for tag "<%= @content %>"</h3>
    <%= render 'books/index', books: @records %>
  <% end %>
</div>